---
import BaseLayout from '../layouts/BaseLayout.astro';


const  pageTitle = "Blog";
const response = await fetch("http://move.local/wp-json/wp/v2/posts");
const posts = await response.json();
---

<BaseLayout pageTitle={pageTitle}>
  <button popovertarget="about-menu" id="about-menu-button">About</button>
  <div popover id="about-menu" class="about-menu">
      <nav>
          <ul>
              <li><a href="#about-menu">About</a></li>
              <li><a href="#about-menu">About</a></li>
          </ul>
      </nav>
  </div>
    <h2>Wordpress Posts</h2>
    {posts.map((post: any) => (
        <article>
          <h2 set:html={post.title.rendered}></h2>
          <p set:html={post.excerpt.rendered}></p>
          <p>Published: {new Date(post.date).toLocaleDateString()}</p>
          <a href={`/wordpress-pages/${post.slug}/`}>{post.slug}</a>

        </article>
      ))}
</BaseLayout>