---
import BaseLayout from '../layouts/BaseLayout.astro';
import Link from '../components/atoms/Link.astro';

const WORDPRESS_APP_USERNAME = import.meta.env.WORDPRESS_APP_USERNAME;
const WORDPRESS_APP_PASSWORD = import.meta.env.WORDPRESS_APP_PASSWORD || '';

// First get settings to find page_on_front
const settingsResponse = await fetch("http://move.local/wp-json/wp/v2/settings", {
    headers: {
        'Authorization': 'Basic ' + btoa('root:PHjK Xaty Hohp E6qQ Yn0Q 261M')
    }
});

// Get the page ID from settings
const settings = await settingsResponse.json();
const pageOnFrontId = settings.page_on_front;
// Then fetch the actual page content using that ID
const pageResponse = await fetch(`http://move.local/wp-json/wp/v2/pages/${pageOnFrontId}`, {
    headers: {
        'Authorization': 'Basic ' + btoa('root:PHjK Xaty Hohp E6qQ Yn0Q 261M')
    }
});
const frontPage = await pageResponse.json();

const ourValuesImage = await fetch(`http://move.local/wp-json/wp/v2/media/${frontPage.acf.our_values.image}`);
const ourValuesImageData = await ourValuesImage.json();

const ourValuesCta = await fetch(`http://move.local/wp-json/wp/v2/pages/${frontPage.acf.our_values.cta}`);
const ourValuesCtaPage = await ourValuesCta.json();

const introCta = await fetch(`http://move.local/wp-json/wp/v2/pages/${frontPage.acf.intro.cta}`);
const introCtaPage = await introCta.json();

const pageTitle = frontPage.title.rendered || "Home Page";





const fetchWordPressAPI = async (query, variables = {}) => {

  const pageResponse = await fetch(`http://move.local/wp-json/wp/v2/pages/`);
  const pages = await pageResponse.json();

  return pages;
};
---
<BaseLayout pageTitle={pageTitle}>
  <div> 
    <h2>{frontPage.acf.intro.title}</h2>
    <p>{frontPage.acf.intro.text}</p>
    <Link href={`/wordpress-pages/${introCtaPage.slug}`}>{introCtaPage.title.rendered}</Link>
    <h2>{frontPage.acf.our_values.title}</h2>
    <p>{frontPage.acf.our_values.text}</p>
    <Link href={`/wordpress-pages/${ourValuesCtaPage.slug}`}>{ourValuesCtaPage.title.rendered}</Link>
    <img src={ourValuesImageData.media_details.sizes.medium.source_url} alt={frontPage.acf.our_values.title} />
    <h2>{frontPage.acf.expertise.accordion.map((item: any) => item.title).join('')}</h2>
    <p>{frontPage.acf.expertise.accordion.map((item: any) => item.text).join('')}</p>
    <a href={frontPage.acf.expertise.accordion.map((item: any) => item.cta).join('')}>{frontPage.acf.expertise.accordion.map((item: any) => item.cta).join('')}</a>
  </div>
</BaseLayout>